* {
	border: 0;
	border-radius: 0;
    font-family: "mononoki Nerd Font";
    font-size: 14px;
    min-height: 0;
}

.bar {
	background: rgba(40, 40, 40, 0.8);
	color: #ebdbb2;
    /* color: #a89984; */
}


/*
 * Workspaces
 * */

.bar #workspaces { margin-left: 8px; }

.bar #workspaces button {
    transition: .2s ease-in-out;
    background: rgb(60, 60, 60);
    color: #808461;
    font-style: italic;
	padding: 5px 0;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
	color: #c7c4a1;
	font-weight: bold;
	font-style: normal;
    background: #665c54;
    border-bottom: 2px solid #689d6a;
}

/* 
 * Modules styles
 * */

#network, #mode, #temperature, #pulseaudio,  #bluetooth, #battery, #backlight { 
	padding: 0 10px;
	opacity: 0.8;
}

#temperature {
	color: #fe8019;
	background: alpha(#fb4934, 0.2);
}

#network.wifi, #bluetooth {
	color: #a3c5b8;
	background: rgba(69, 133, 136, 0.4);
}
#network.wifi {
	background: rgba(59, 133, 136, 0.2);
}
#network.ethernet {
	color: #ebdbb2;
	background: rgba(104, 157, 106, 0.4);
}
#network.disconected {
	background: #504945;
	opacity: 0.3;
}

#mode {
	font-size: 12px;
	padding: 5px;
	margin-left: 10px;
}

#clock {
    color: #a89984;
    background-color: transparent;
    transition: .1s all ease-in-out;
}

#battery {
	transition: .1s ease-in-out;
	color: rgba(184, 187, 38, .8);
}

#battery.charging {
	color: #ebdbb2;
	background: rgba(184, 187, 38, 0.4);
}




#backlight {
	color: rgb(250, 189, 47);
	/* color: #282828; */
}
